<div id="controls-<%= message.id %>" class="controls">
  <span class="vote up">
    <a href="" title="Agree">
      <%= image_tag 'agree' %>
      (<span class="num"><%= message.positive_vote_count %></span>)
    </a>
  </span>
  
  <span class="vote down">
    <a href="" title="Disagree">
      <%= image_tag 'disagree' %>
      (<span class="num"><%= message.negative_vote_count %></span>)
    </a>
  </span>
</div>