<%= render :partial => 'controls', :locals => {:message => message} %>
<p class="message-text"><%= message_body(message) %></p>
<p class="postedby right-text">sincerely, <strong><%=h message.author %></strong>, <%= h message.created_at.to_s(:short) %></p>
<% if admin? %>
<p class="admin"><%= link_to "delete", delete_message_path(message) %> <%= link_to "edit", edit_message_path(message) %></p>
<% end %>
<div class="msg-extras">
  <ul>
    <li class="comments">
      <% link_to "#{message_path(message)}#comments" do %>
        <strong>Comments</strong><br />
        <%= image_tag "commentsicon.png" %>
        <strong><%= message.comments_count %></strong>
      <% end %>
    </li>
    <li class="tags">
      <strong>Tagged Under</strong> <br />
      <p><%= tag_sentence(message.tags) -%></p></li>
    <li class="campus">
      <strong>Happened at</strong><br />
      <p>
        <span class="blue"><%= message.campus || "N/A" %></span>
      </p>
    </li>
    <li class="faculty">
      <strong>Faculty</strong><br />
      <p>
        <span class="blue">
        <% if message.faculty %>
          <% if message.faculty.to_s == 'Science and Technology'%>
            Scitech
          <% elsif message.faculty.to_s == 'Built Environment and Engineering'%>
            BEE
          <% elsif message.faculty.to_s == 'QUT International College' %>
            International
          <% else %>
            <%= message.faculty %>
          <% end %>
        <% else %>
          N/A
        <% end %>
          </span>
      </p>
    </li>
  </ul>
  <br clear="both" />
</div>
