<% form_for(@message, :html => { :id => "msgform"}) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field 'adding_context', :value => true %>
  <h2 class="center">Your Message</h2>
  
  <p>
    <div id="message_body">
      <%= f.text_area :body %>
     </div>
     	<br />
   		<span class="right">sincerely, <strong><%= current_user || "Anonymous" %></strong> <%= Time.now.to_s(:short) %></span>
  </p>
  <br 
  <p>
    <%= f.submit 'SUBMIT', :class=>'button inner' %> or <%= link_to "View your message", @message %>
  </p>  
<% end %>