<% form_for(@message, :html => { :id => "msgform"}) do |f| %>
  <%= f.error_messages %>
  <h2 class="center">Your Message</h2>
  
  <p>
    <div id="message_body">
      <%= f.text_area :body %>
     </div>
     	<br />
   		<span class="right">
   		  sincerely, <strong><%=@message.author %></strong>
   		  <%= message_time(@message) %>
   		</span>
  </p>
  <br 
  <p>
    <%= f.submit 'SUBMIT', :class=>'button inner' %> or <%= link_to "View your message", @message %>
  </p>  
<% end %>