<% form_for(@message, :html => { :id => "msgform"}) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field 'adding_context', :value => true %>
  <h2 class="center">Your Message</h2>
  
    <div id="message-body">
      <%= f.text_area :body %>
     </div>
     	<br />

   		<span class="right">
   		  sincerely, <strong><%=@message.author %></strong>
   		  <%= message_time(@message) %>

   		  <% if !current_user %>
   		    <%= link_to '(login?)', login_path %>
   		  <% end %>
   		</span>
  <br />

  <div id="context">
    <div id="more-details">
      <div id="faculty">
        <%= f.label :faculty_id %>
        <%= f.collection_select(:faculty_id, Faculty.all, :id, :name, :include_blank => true) %>
      </div>
      <div id="campus">
        <%= f.label :campus_id %>
        <%= f.collection_select(:campus_id, Campus.all, :id, :name, :include_blank => true) %>
      </div>
    </div>
    
    <div id="add-tags">
      <h2>Add Tags</h2>
      <p>Type in your tag and press enter after each one</p>
      <%= f.text_field 'tag_list', :class => 'autobox tags' %>
      <br />
      <%= f.submit 'SUBMIT', :class=>'button inner' %>

    </div>
  </div>



<% end %>