<h1>Listing messages</h1>
<ul>
<% @messages.each do |message| %>
    <li></li>
    <li><a href="<%= link_to 'Show', message %>"<%=h message.body %>
				<%=h message.user %></li>
    <li><%= link_to 'Edit', edit_message_path(message) %></li>
    <li><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></li>
<% end %>
</ul>

<br />

<%= link_to 'New message', new_message_path %>