<div id="filter">
	<h2>Browse by</h2>
	<ul>
		<li>
		  <% link_to popular_messages_path do %>
		    <%= image_tag 'popular.png' %> Popular Vote
		  <% end %>
		</li>
		<li>
		  <% link_to messages_path do %>
		    <%= image_tag 'freshness.png' %> Freshness
		  <% end %>
		</li>
		<li>
		  <% link_to most_commented_messages_path do %>
		    <%= image_tag 'commentsort.png' , :class=>'taller' %> Most Commented
		  <% end %>
    </li>
	  <li>
	    <% link_to tags_path do %>
	    <%= image_tag 'tags.png' %> Tags
	    <% end %>
  	</li>
	</ul>
  
</div>

<% @messages.each do |message| %>
  <span class="msg-item">
    <%= render :partial => 'message', :locals => {:message => message} %>
  </span>
<% end %>

<div id ="pagination">
  <%= will_paginate @messages %>
</div>

<br />

