<div id="filter">
	<h2>Browse by</h2>
	<ul>
		<li>
		  <% link_to '#' do %><%= image_tag 'popular.png' %> Popular Vote<% end %>
		</li>
		<li>
		  <% link_to '#' do %><%= image_tag 'freshness.png' %> Freshness <% end %>
		</li>
		<li>
		  <%= image_tag 'tags.png' %> Search Tags <%= image_tag 'arrowdown.png' %>
		  <br />
		  <%= text_field_tag :bla %>
  	</li>
	</ul>
  
</div>
<% @messages.each do |message| %>
<span class="msg-item">
<%= render :partial => 'message', :locals => {:message => message} %>
</span>
<% end %>


<br />

