<h1>New message</h1>

<% form_for(@message, :html => { :id => "msgform"}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :body %>
		<br />
		<span class="right">sincerely, <strong>Anon</strong>, <%= Time.now.to_s(:short) %></span>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>