<% form_for(@message, :html => { :id => "msgform"}) do |f| %>
  <%= f.error_messages %>
  <h2 class="center">Type your message below</h2>
    <%= f.text_area :body %>
		<br />
		<span class="right">sincerely, <strong><%= current_user || "Anonymous" %></strong> <%= Time.now.to_s(:short) %></span>
  </p>
  <br />
    <%= f.submit 'SUBMIT', :class=>'button inner right' %>
<% end %>
<a name="random_message" />
<br /><br /><br /><br />
<% if @random_message %>
  <div id="random-message" class="left">
      <% link_to random_messages_path, :class=>'nextmessage' do %>Show me another <%= image_tag "/images/nextmsg.png" %><% end %>
      
    <%= render :partial => 'message', :locals => {:message => @random_message} %>
  </div>
  <div id="recent-messages">
    <h1>Latest Messages</h1>
    <%= link_to  "see more", messages_path, :class=>'link-more' %>
    <% @messages.each do |message| %>
      <span class="recent-message <%=cycle('odd','even')%>">
        <p class="message-text"><%= message_body(message, 74) %></p>
        <p class="postedby right-text">sincerely, <strong><%=h message.author %></strong></p>
      </span>
    <% end %>
      </div>
<% end %>