<% form_for(@message, :html => { :id => "msgform"}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :body %>
		<br />
		<span class="right">sincerely, <strong><%= current_user || "Anonymous" %></strong> <%= Time.now.to_s(:short) %></span>
  </p>
  <br 
  <p>
    <%= f.submit 'SUBMIT', :class=>'button inner' %>
  </p>  
<% end %>