<div id="random-message">
  <%= render :partial => 'message', :locals => {:message => @message} %>
</div>  
  
  <div id="create-comment">
    <%= image_tag 'comment.png' %>
    <% form_for [@message, @message.comments.build] do |f| %>
      <%= f.text_area :body %>
      
      <%= f.submit 'Post Comment', :class => 'button right' %>
    <% end %>
  </div>
  
  <div id="comments">
  <% @message.comments.each do |comment| %>
    <% unless comment.new_record? %>
      <div id="comment-<%= comment.id %>" class="comment <%= cycle("even", "odd") %><%= ' anonymous' if comment.anonymous? %>">
        <p class="postedby">Posted by: <strong><%= comment.author %></strong> on <%= h comment.created_at.to_s(:short) %></p>
        <div class="message">
          <%= simple_format h(comment.body) %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>