#random-message.center
  = render :partial => 'messages/controls', :locals => {:message => @message}
  = render :partial => 'messages/message', :locals => {:message => @message}
#create-comment
  = image_tag 'comment.png'
  = error_messages_for :comment
  - form_for [@message, @comment] do |f|
    = f.text_area :body
    = f.submit 'Post Comment', :class => 'button right'
    - if logged_in?
      %ul#anon
        %li
          = f.label :private, "Post Anonymously"
          = f.check_box :private
        - if current_user.verified_staff?
          %li
            = f.label :staff, "Post as Staff"
            = f.check_box :staff
          
#comments
  - @comments.each do |comment|
    - unless comment.new_record?
      %div{:id=>"comment-#{comment.id}", :class => "comment #{cycle("even", "odd")}#{' anonymous' if comment.anonymous?}"}
        %p.postedby
          Posted by:
          %strong
            = comment.author
            = "(Staff)" if comment.staff?
          on
          = h comment.created_at.to_s(:short)
        .message= simple_format h(comment.body)