<h2>Welcome Back</h2>
<div id ="loginbox" class="user-box">
<% form_tag session_path, :id => 'login_form' do %>
  <div class="error"><%= flash[:error] %></div>

    <a href="/login/twitter"><%= image_tag "twitter_login.png" %></a> 
    <br />
    <br /><em>or use the form below</em>
    <br />
    <br />
    <label for='login'>Username</label>
    <br />
    <%= text_field_tag 'login', nil, :class => 'text_field' %>
    <br />
    <label for='password'>Password</label>
    <br />
    <%= password_field_tag 'password', nil, :class => 'password_field' %>
    <br />
    <%= select_tag 'remember_me', options_for_select([['keep', true], ['don\'t keep', false]]) %> <label for="remember_me"> me logged in</label>.
<br /><br />
  <div class='field submit'>
    <%= submit_tag 'Log In', :class => 'button' %>
  </div>
<% end %>
</div>

