%h2
  Sign up to get started
%span.small
  or
  = link_to "log in here", new_user_session_path
%br
%br
#signup.user-box

  - semantic_form_for @user do |f|
    = oauth_register_button :value => "Use Twitter To Create An Account", :class => "twitter"

  %br
  %br
  %em or use the form below
  %br
  %br

  - semantic_form_for @user do |f|
    - f.inputs do
      = f.input :login, :label => "Username"
      = f.input :password
      = f.input :password_confirmation, :label => "Password again"
      = f.input :email
      = f.input :staff, :label => "I am a QUT staff member", :hint => "You will need a staff email account to register a staff account"
    - f.buttons do
      = f.commit_button 'Sign Up'
