%h2
  Sign up to get started
%span.small
  or
  = link_to "log in here", login_path
%br
%br
#signup.user-box
  .error
    = flash[:error]
  - form_for @user do |f|
    = f.label :login, "Username"
    %br
    = f.text_field :login, :class => 'text_field'
    %br
    = f.label :password, "Password"
    %br
    = f.password_field :password, :class => 'password_field'
    %br
    = f.label :password_confirmation, "Password again"
    %br
    = f.password_field :password_confirmation, :class => 'password_field'
    </p>
    %br
    = f.submit 'Sign Up', :class=>'button'
    </haml:block>
    </haml:silent>
