%h1 Moderation
%h2 Spam

= will_paginate @messages

%table#spam-messages{:cellspacing => 0}
  %caption= @message_moderation_count
  %thead
    %tr
      %th Author
      %th Body
      %th Status
  - @messages.each do |message|
    - cls = cycle('','alt')
    %tr
      %td{:class => "spec#{cls}"}= message.author
      %td{:class => cls}= link_to message.body, admin_message_moderation_path(message)
      %td{:class => cls}= message.moderation_status
      
= will_paginate @messages
