%ol
  %li= link_to 'How do I send messages?', '#how-do-i-send-messages'
  %li= link_to 'What are tags?', '#what-are-tags'
  %li= link_to 'Do I have to fill in everything to post?', '#do-i-have-to-fill-in-everything'
  %li= link_to 'Can I use twitter for dearQUT?', '#can-i-use-twitter'
  %li= link_to 'Can I see what others have submitted?', '#can-i-see-other-messages'
  %li= link_to 'Will I get sued?', '#will-i-get-sued'

%br

%ol
  %li#how-do-i-send-messages
    %h4 How do I send messages?
    %p Go to the homepage by clicking on the dearQUT logo link.
    %p
      Fill in your message and you will be prompted to add things 
      such as tags, faculty, campus. You should fill out as much 
      as you can in the form to help others locate your message 
      when browsing.
  %li#what-are-tags
    %h4 What are tags?
    %p
      Tags are keywords related to the topic of your message. 
      Users are able to assign their own keywords as they see fit. 
      The system will recognise the content of your message and may
      even recommend some keywords that others have used before.
       
    %p 
      Tags, faculty and campus listing are information that adds 
      more context and significance to the message that you post up. 
      Your message will become less of a random rant but a more 
      informed statement that has an underlying story (i.e. specific 
      location, time, discipline and so forth).  Incidentally, 
      messages submitted will be identified by these tags and other 
      visitors will be able to locate and vote on your message 
      amongst other related or similar messages.

  %li#do-i-have-to-fill-in-everything
    %h4 Do I have to fill in everything to post?
    %p No you don’t have to. But it would be great if you can.

  %li#can-i-use-twitter
    %h4 Can I use twitter for dearQUT?
    %p
      Yes you can. dearQUT is best taken with twitter, since it is 
      very successful micro-blogging service and it is very popular 
      amongst students as well.
  
    %p
      To twitter directly to dearQUT from your twitter account or 
      twitter app, register your username in your accounts page and 
      follow dearQUT on twitter. To post your messages, tweet to 
      @dearqut.

  %li#can-i-see-other-messages
    %h4 Can I see what others have submitted?
    %p By selecting "BROWSE" on the global navigation, you will be able 
    to filter messages based on freshness (date of posting), popularity 
    (how many votes they have) and tag words. 

  %li#will-i-get-sued
    %h4 Will I get sued?
    %p 
      If you participate in constructive conversations on dearQUT, you 
      shouldn’t. dearQUT does offer the option of assuming anonymity for 
      activities on the website. However, the website encourages 
      constructive, meaningful and truthful conversations regarding QUT. 
      The development team does not condone any inflammatory material or 
      libel and will not be responsible for any ensuing lawsuits or 
      proceedings made against improper postings. Postings will be 
      removed if so required by law. Users and visitors to dearQUT, are 
      reminded that they are responsible for their actions and statement 
      while using the services on the website.
