%ol
  %li= link_to 'How do I send messages?', '#how-do-i-send-messages'
  %li= link_to 'What are tags?', '#what-are-tags'
  %li= link_to 'Do I have to fill in everything to post?', '#do-i-have-to-fill-in-everything'
  %li= link_to 'Can I use twitter for dearQUT?', '#can-i-use-twitter'
  %li= link_to 'Can I see what others have submitted?', '#can-i-see-other-messages'
  %li= link_to 'Will I get sued?', '#will-i-get-sued'
  %li= link_to 'I am a staff member, how do I make this known when commenting?', '#i-am-staff'
  %li= link_to 'Why is my message not showing on the site?', '#message-deleted'

%br

%ol
  %li#how-do-i-send-messages
    %h4 How do I send messages?
    %p Go to the homepage by clicking on the dearQUT logo link.
    %p
      Fill in your message and you will be prompted to add things 
      such as tags, faculty, campus. You should fill out as much 
      as you can in the form to help others locate your message 
      when browsing.
  %li#what-are-tags
    %h4 What are tags?
    %p
      Tags are keywords related to the topic of your message. 
      Users are able to assign their own keywords as they see fit. 
      The system will recognise the content of your message and may
      even recommend some keywords that others have used before.
       
    %p 
      Tags, faculty and campus listing are information that adds 
      more context and significance to the message that you post up. 
      Your message will become less of a random rant but a more 
      informed statement that has an underlying story (i.e. specific 
      location, time, discipline and so forth).  Incidentally, 
      messages submitted will be identified by these tags and other 
      visitors will be able to locate and vote on your message 
      amongst other related or similar messages.

  %li#do-i-have-to-fill-in-everything
    %h4 Do I have to fill in everything to post?
    %p No you don’t have to. But it would be great if you can.

  %li#can-i-use-twitter
    %h4 Can I use twitter for dearQUT?
    %p
      Yes you can. dearQUT is best taken with twitter, since it is 
      very successful micro-blogging service and it is very popular 
      amongst students as well.
  
    %p
      To twitter directly to dearQUT from your twitter account or 
      twitter app, register your username in your accounts page and 
      follow dearQUT on twitter. To post your messages, tweet to 
      @dearqut.

  %li#can-i-see-other-messages
    %h4 Can I see what others have submitted?
    %p
      By selecting "BROWSE" on the global navigation, you will be able
      to filter messages based on freshness (date of posting),      popularity (how many votes they have) and tag words. 

  %li#will-i-get-sued
    %h4 Will I get sued?
    %p 
      If you participate in constructive conversations on dearQUT, you 
      shouldn’t. dearQUT does offer the option of assuming anonymity for 
      activities on the website. However, the website encourages 
      constructive, meaningful and truthful conversations regarding QUT. 
    %p  
      The development team does not condone any inflammatory material or 
      libel and will not be responsible for any ensuing lawsuits or 
      proceedings made against improper postings. Postings will be 
      removed if so required by law. Users and visitors to dearQUT, are 
      reminded that they are responsible for their actions and statement 
      while using the services on the website.
    %p
      If you see a message that is inappropriate or otherwise does not
      belong on the website, press the flag icon next to the message
      and we will have a look at it. We do our best to remove
      inappropriate material from the website and by flagging bad
      messages, you help us do so.
      
  %li#track-messages
    %h4 How can I keep track of my messages?
    %p
      If you are logged in, you can access the messages you have created
      and interacted with by clicking on your user name in the top menu. 
      Then, simply click on "My Messages" to see a list of all messages
      you have posted. This list includes your anonymous messages, but
      only you can see that they are yours.
      
  %li#i-am-staff
    %h4 I am a staff member, how do I make this known when commenting?
    %p
      We have now added the ability for staff to be able to identify
      themselves when commenting on a message that concerns them.
      This will allow staff members to provide a more authoritative
      response to certain issues.
    %p
      If you are a staff member and wish to respond in this manner, sign
      up for an account providing your staff email (with @qut.edu.au
      domain) and check 'I am a QUT staff member'. 
    %p
      Once we have approved your staff status, you will be given the
      option to identify yourself as a staff or as a normal user when
      commenting on a message.
    %p
      If you are a staff member and wish to add the staff status to your 
      %em current 
      dearQUT account, email 
      = link_to "contact@dearqut.com", "mailto:contact@dearqut.com" 
      from your qut email and we will switch your account over. 

  %li#message-deleted
    %h4 Why is my message not showing on the site?
    %p
      There are a few reasons your message might not be showing on the 
      site.
    %p
      If your message never appeared on the site, the reason is most
      likely that our spam detection flagged your post as spam. In this   
      case, we should see it in our admin section and confirm it fairly
      quickly. Feel free to
      = link_to "email us", "mailto:team@dearqut.com"
      if it has been a while and the message still hasn't appeared.
    %p
      If your message appeared on the site and then disappeared later,
      then it is likely that another user has flagged your message as 
      inappropriate. Some messages are off-topic and unhelpful so they 
      get removed to keep the point of dearQUT focussed. Other messages
      are removed because of other reasons, such as being offensive. We
      such messages very seriously, which is why it only takes one flag
      for a message to be removed. Don't worry, though, if your message
      was unjustly removed, one of the dearQUT team members should see
      this and remove the flag permanently (so your message can never be
      flagged again). If your message is of an offensive nature, it will
      not reappear on the site and you should find somewhere else to 
      vent your negativity, as this site will not accommodate it.
