%ol
  %li
    = link_to 'How do I send messages?', '#1'
  %li
    = link_to 'What are tags?', '#2'
  %li
    = link_to 'Do I have to fill in everything to post?', '#3'
  %li
    = link_to 'Can I use twitter for dearQUT?', '#4'
  %li
    = link_to 'Can I see what others have submitted?', '#5'
  %li
    = link_to 'Will I get sued?', '#6'
%br
%p
  %a{ :name => "1" }
    %strong
      1.	How do I send messages?
%p
  Go to the homepage by clicking on the dearQUT logo link.
  
  Fill in your message and you will be prompted to add things such as tags, faculty, campus.  You should fill out as much as you can in the form to help others locate your message when browsing.
%p
  %a{ :name => "2" }
    %strong
      2.	What are tags?
%p
  Tags are keywords related to the topic of your message. Users are able to assign their own keywords as they see fit. The system will recognize the content of your message and may even recommend some keywords that others have used before.
  Tags, faculty and campus listing are information that adds more context and significance to the message that you post up. Your message will become less of a random rant but a more informed statement that has an underlying story (i.e. specific location, time, discipline and so forth).  Incidentally, messages submitted will be identified by these tags and other visitors will be able to locate and vote on your message amongst other related or similar messages.
%p
  %a{ :name => "3" }
    %strong
      3.	Do I have to fill in everything to post?
%p
  No you don’t have to. But it would be great if you can.
%p
  %a{ :name => "4" }
    %strong
      4.	Can I use twitter for dearQUT?
%p
  Yes you can. dearQUT is best taken with twitter, since it is very successful microblogging service and it is very popular amongst students as well.
  To twitter directly to dearQUT from your twitter account or twitter app, register your username in your accounts page and follow dearQUT on twitter. To post your messages, tweet to @dearqut.
%p
  %a{ :name => "5" }
    %strong
      5.	Can I see what others have submitted?
%p
  By selecting “BROWSE” on the global navigation, you will be able to filter messages based on freshness (date of posting), popularity (how many votes they have) and tag words. 
%p
  %a{ :name => "6" }
    %strong
      6. 	Will I get sued?
%p
  If you participate in constructive conversations on dearQUT, you shouldn’t.
  dearQUT, does offer the option of assuming anonymity for activites on the website. However, the website encourages constructive, meaningful and truthful conversations regarding QUT. The development team does not condone any inflammatory material or libel and will not be responsible for any ensuing lawsuits or proceedings made against improper postings. Postings will be removed if so required by law. Users and visitors to dearQUT, are reminded that they are responsible for their actions and statement while using the services on the website.
