%p.message-text= message_body(message)

.msg-extras
  .left
    - link_to "#{message_path(message)}#comments" do
      = image_tag "commentsicon.png"
      = message.ham_comments_count
    - if can_edit_message?(message)
      - link_to delete_message_path(message) do
        = image_tag"trash.png", :alt => 'Delete'
      - link_to edit_message_path(message) do
        = image_tag "edit.png", :alt => 'Edit'
    
  .votes
    %ul
      %li
        = image_tag "up-arrow.png"
        %strong= message.positive_vote_count
      %li
        = image_tag "down-arrow.png"
        %strong= message.negative_vote_count
  %br{ :clear => "all" }
