%p.message-text= message_body(message)
- if admin?
  %p.admin
    = link_to "delete", delete_message_path(message)
    = link_to "edit", edit_message_path(message)

.msg-extras
  .comments
    - link_to "#{message_path(message)}#comments" do
      = image_tag "commentsicon.png"
      = message.ham_comments_count
  .votes
    %ul
      %li
        = image_tag "up-arrow.png"
        %strong= message.positive_vote_count
      %li
        = image_tag "down-arrow.png"
        %strong= message.negative_vote_count
  %br{ :clear => "all" }
