- path = "#{message_path(comment.message)}#comment-#{comment.id}"
.action.commented Commented
= link_to truncate(comment.message.body, :length => 46), path
You
= link_to "commented", path
on message
at 
%em.created_at= activity.created_at.strftime("%I:%M%p")