- path = "#{message_path(comment.message)}#comment-#{comment.id}"

You
= link_to "commented", path
on message
= link_to truncate(comment.message.body, :length => 40), path
at 
= activity.created_at.strftime("%I:%M%p")