<h1>Editing vote</h1>

<% form_for(@vote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.label :up %><br />
    <%= f.check_box :up %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @vote %> |
<%= link_to 'Back', votes_path %>