%h2
  Welcome Back
#loginbox.user-box
  - semantic_form_for @user_session do |f|

    %a{ :href => "/login/twitter" }
      = image_tag "twitter_login.png"
    %br
    %br
    %em
      or use the form below
    %br
    %br

    - f.inputs do
      = f.input :login, :label => "Username"
      = f.input :password
      = f.input :remember_me, :as => :boolean
    - f.buttons do
      = f.commit_button "Log In"