<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Dear QUT</title>
  <link rel="shortcut icon" href="/fav_ri.gif" />
  <%= rss_feeds %>
  <%= stylesheet_link_tag 'application', 'acts_as_taggable', 'jquery.ui.autobox' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', 
        'jquery.templating',
        'jquery.ui.autobox.ext',
        'jquery.ui.autobox',
        'application' %>
</head>
	<body>
		<div id="container">
		  <div id="twitter-badge">
		    <% link_to 'http://www.twitter.com?status=@dearQUT+' do%>
		      <%= image_tag 'TwitterBadge.png' %>
		    <% end %>
		  </div>
		  <div id="menu">

		  <% tabs do |tab| %>
		  <% if logged_in? %>
		    <span class="current-user">
		      <% if current_user.twitter? %>@
  		    <% end %>
  	      <%= current_user.login %>
  	      <%= tab.logout "Log out", logout_path %>
  	      </span>
  	       <% else %>
    		      <%= tab.login "Log in", login_path %>
    		      <%= tab.signup "Sign up", signup_path %>
	    <% end %>
  		    <%= tab.home "Home", root_path %>
  		    <%= tab.browse "Browse", messages_path %>
  		    <%= tab.help "Help", help_site_path %>
		      <%= tab.about "About", about_site_path %>
		      <%= tab.contact "Contact", contact_site_path %>
		      <% link_to "http://feeds.feedburner.com/dearqut", :format => :rss do %>
		        <%= image_tag 'rss.png' %>
		      <% end %>
		    <% end %>
		  </div>
		  <span id="updates">
			  <h1 class="update">Check out our new blog!</h1>
			  Find out what else is <a id="new" href="http://blog.dearqut.com/post/181841802/new-dearqut-blog">new</a> and read our <a id="blog" href="http://blog.dearqut.com">blog</a>
			</span>
			<h1 id="title"><a href="/">Dear QUT,</a></h1>
			<div id="content">
			<%= render :partial => 'layouts/notices' %>

			<%= yield %>
			</div>
			<div id="footer">
				<ul>
					<li class="footer1"><% link_to about_site_path do %>dearQUT is the place for anyone to contribute ideas/gripes about the Queensland University of Technology<% end %></li>
					<li class="footer2"><% link_to 'http://www.twitter.com/dearqut' do %>Get notified of new updates by following dearQUT on twitter.<% end %></li>
					<li class="footer3"><% link_to privacy_site_path do %>Your privacy is important to us. Here are the ground rules.<% end %></li>
					<li class="footer4"><% link_to help_site_path do %>Unsure how to begin? Check out our tutorials and FAQ<% end %></li>
					<li>
				</ul>
			</div>
		</div>
		<%= render :partial => 'layouts/google_analytics' %>
		<%= render :partial => 'layouts/uservoice' %>
	</body>
</html>