<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Dear QUT</title>
  <%= stylesheet_link_tag 'application', 'acts_as_taggable' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', 'application' %>
</head>
	<body>
		<div id="container">
		  <div id="menu">
		  <% tabs do |tab| %>
  		    <%= tab.home "Home", root_path %>
  		    <%= tab.browse "Browse", messages_path %>
  		    <% if logged_in? %>
  		      <%= tab.logout "Log out", logout_path %>
  		    <% else %>
  		      <%= tab.login "Log in", login_path %>
  		      <%= tab.signup "Sign up", signup_path %>
  		    <% end %>
  		    <%= tab.help "Help", help_site_path %>
		      <%= tab.about "About", about_site_path %>
		      <%= tab.contact "Contact", contact_site_path %>
		    <% end %>
		  </div>
			<h1 id="title"><a href="/">Dear QUT,</a></h1>
			<div id="content">
			<%= render :partial => 'layouts/notices' %>

			<%= yield %>
			</div>
			<div id="footer">
				<ul>
					<li class="footer1"><% link_to 'http://www.qut.edu.au' do %>dearQUT is the place for anyone to contribute ideas/grips about the Queensland University of Technology<% end %></li>
					<li class="footer2"><% link_to 'http://www.twitter.com/dearqut' do %>Get notified of new updates by following dearQUT on twitter.<% end %></li>
					<li class="footer3"><% link_to privacy_site_path do %>Your privacy is important to us. Here are the ground rules.<% end %></li>
					<li class="footer4"><% link_to help_site_path do %>Unsure how to begin? Check out our tutorials and FAQ<% end %></li>
					<li>
				</ul>
			</div>
		</div>
	</body>
</html>